MONGODB_URI=
NEXT_PUBLIC_SOCKET_URL=

# Media Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=poobx1z4
CLOUDINARY_API_KEY=873885897966458
CLOUDINARY_API_SECRET=XB9DIbzqbfPiuMzy1JQgEf5-oyg

# Optional: Max video upload size (default is 100MB if not set)
MEDIA_MAX_FILE_SIZE_MB=
